.search-results {
    padding-top: 56px;
}
.nav-link, .nav-link:hover {
    cursor: pointer;
}
.sale {
    background: #fff;
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid #ffcc29;
    border-radius: 2px;
}