.search-results {
    padding-top: 56px;
}
.navbar-link, .navbar-link:hover {
    color: #28a745;
    cursor: pointer;
}
.sale {
    background: #fff;
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid #ffcc29;
    border-radius: 2px;
}